footer{
    background: no-repeat center url("../img/footer_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
}

hr{
    margin: 10px 0;
    width: 60px;
    color: $text-c1-dark;
}